<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <style>
      #map {
        height: 800px;
        width: 100%;
      }
    </style>
    <script src="https://unpkg.com/vuefire@1.3.0/dist/vuefire.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEKqAbwXitNuWVIXaIJ60kd33svzZY4nE"
    ></script>
  </head>
  <body>
    <div class="page " id="app">
      <div class="cont" v-if="load">
        <div class="containeranim">
          <div class="dot dot-1"></div>
          <div class="dot dot-2"></div>
          <div class="dot dot-3"></div>
        </div>
      </div>
      <v-app dark>
        <v-navigation-drawer
          v-model="drawer"
          class="elevation-1 grey lighten-5"
          :clipped="$vuetify.breakpoint.lgAndUp"
          app
        >
          <v-list dense>
            <template>
              <v-list-item link>
                <v-list-item-action>
                  <v-icon>mdi-contacts</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    <a id="lien-href" href="index.html">Home </a>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item link>
                <v-list-item-action>
                  <v-icon>mdi-content-copy</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    <a id="lien-href" href="declareMed.html"
                      >declare Medicament
                    </a>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
            </template>
          </v-list>
        </v-navigation-drawer>
        <v-app-bar
          :clipped-left="$vuetify.breakpoint.lgAndUp"
          app
          color="primary darken-1"
          dark
        >
          <v-icon @click.stop="drawer = !drawer">mdi-menu</v-icon>
          <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
            <span class="title">Tik AmineInfo2020</span>
          </v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn icon large class="mr-1">
            <v-avatar size="40px" item>
              <v-img
                src="https://lh3.googleusercontent.com/a-/AAuE7mDUMdXGlpY25zgmRfzjrLpp_fzh5Oua02nbr3nM=s96-cc-rg"
                alt="Vuetify"
            /></v-avatar>
          </v-btn>
        </v-app-bar>
        <v-content>
          <v-container>
            <h1 class="title py-4">
              contact us
            </h1>
            <v-divider></v-divider>
            <v-form>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    label="name"
                    hide-details
                    outlined
                    v-model="name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    hide-details
                    label="lastname"
                    outlined
                    v-model="lastname"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    hide-details
                    label="Email"
                    outlined
                    v-model="mail"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-file-input
                hide-details
                label="File input"
                filled
                prepend-icon="mdi-camera"
              ></v-file-input>
              <v-row
                ><v-col cols="12" md="12">
                  <v-textarea
                    hide-details
                    outlined
                    name="input-7-4"
                    label="describ your need here"
                    v-model="description"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-btn
                centered
                :loading="loading"
                :disabled="loading"
                color="secondary"
                @click="loader = 'loading'"
              >
                declare
              </v-btn>
            </v-form>
          </v-container>
        </v-content>
      </v-app>
      <v-footer padless>
        <v-col class="text-center" cols="12">
          All rights reserved © {{ new Date().getFullYear() }} —
          <strong>KmAmin</strong>
        </v-col>
      </v-footer>
    </div>

    <script src="./js/contact.js"></script>
  </body>
</html>
