<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/index.css" />
    <style>
      #map {
        height: 800px;
        width: 100%;
      }
    </style>
    <script src="./config/js/vuefire.js"></script>
    <script src="./config/js/firebase.js"></script>
    <script src="./config/js/axios.min.js"></script>
    <script src="./config/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  </head>
  <body>
    <div id="app" class="draw">
      <div class="cont" v-if="load">
        <div class="load-wrapp">
          <div class="load-3">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <v-app dark>
        <v-app-bar app color="#038AFF" dark>
          <v-btn icon large class="mr-1">
            <v-avatar size="40px" item>
              <v-img
                src="https://lh3.googleusercontent.com/a-/AAuE7mDUMdXGlpY25zgmRfzjrLpp_fzh5Oua02nbr3nM=s96-cc-rg"
                alt="Vuetify"
            /></v-avatar>
          </v-btn>

          <v-spacer></v-spacer>

          <img src="./img/pharma.png" class="image-title" />

          <v-spacer></v-spacer>
          <header>
            <input type="checkbox" id="menu" @click.stop="drawer = !drawer" />
            <label for="menu">
              <span></span>
              <span></span>
              <span></span>
            </label>

            <nav v-model="drawer">
              <ul>
                <li><a href="index.html">Home</a></li>
                <v-divider></v-divider>
                <div>
                  <li :class="{ouvertstyle :ouvert, 'closestyle': !ouvert}">
                    <a href="phDeJour.html">
                      pharmacies de jour
                    </a>
                  </li>
                </div>
                <v-divider></v-divider>
                <div>
                  <li :class="{ouvertstyle :!ouvert, 'closestyle': ouvert}">
                    <a href="phDeNuit.html">les pharmacies de nuit</a>
                  </li>
                </div>
                <v-divider></v-divider>
                <li>
                  <a href="phDeGarde.html"> pharmacies de garde</a>
                </li>
                <v-divider></v-divider>
                <li><a id="contact-page" href="contact.html">Contacts </a></li>
              </ul>
            </nav>
          </header>
        </v-app-bar>
        <v-content>
          <v-container>
            <h1 class="title py-4">
              contact us
            </h1>
            <v-divider></v-divider>
            <v-form>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    id="Name"
                    label="name"
                    hide-details
                    outlined
                    v-model="name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    hide-details
                    id="lastName"
                    label="lastname"
                    outlined
                    v-model="lastname"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    hide-details
                    id="Email"
                    label="Email"
                    outlined
                    v-model="mail"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-file-input
                hide-details
                label="File input"
                filled
                prepend-icon="mdi-camera"
              ></v-file-input>
              <v-row
                ><v-col cols="12" md="12">
                  <v-textarea
                    id="Des"
                    hide-details
                    outlined
                    name="input-7-4"
                    label="describ your need here"
                    v-model="description"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-btn
                :loading="loading"
                :disabled="loading"
                color="#038AFF"
                class="declareButton"
                @click="contactForm"
              >
                <span color="white">
                  declare
                </span>
              </v-btn>
              <v-snackbar v-model="snackbar">
                {{ text }}
                <v-btn color="pink" text @click="snackbar = false">
                  Close
                </v-btn>
              </v-snackbar>
            </v-form>
          </v-container>
        </v-content>
      </v-app>
      <v-footer padless>
        <v-col class="text-center" cols="12">
          All rights reserved © {{ new Date().getFullYear() }} —
          <strong>KmAmin</strong>
        </v-col>
      </v-footer>
    </div>
  </body>

  <script src="./js/contact.js"></script>
</html>
