<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="./css/vuetify.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <style>
      #map {
        height: 800px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="cont" v-if="load">
        <div class="containeranim">
          <div class="dot dot-1"></div>
          <div class="dot dot-2"></div>
          <div class="dot dot-3"></div>
        </div>
      </div>
      <v-app dark>
        <v-navigation-drawer
          v-model="drawer"
          class="elevation-1 grey lighten-5"
          :clipped="$vuetify.breakpoint.lgAndUp"
          app
        >
          <v-list dense>
            <template>
              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title>
                    <a href="index.html">Home </a>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item
                :class="{ouvertstyle :ouvert, 'closestyle': !ouvert}"
                link
              >
                <v-list-item-content>
                  <v-list-item-title>
                    <a href="phDeJour.html">les pharmacies de jour </a>
                    <span>.</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item
                class="garde"
                :class="{ouvertstyle :!ouvert, 'closestyle': ouvert}"
                link
              >
                <v-list-item-content>
                  <v-list-item-title>
                    <a href="phDeNuit.html">les pharmacies de nuit</a
                    ><span>.</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item class="garde" link>
                <v-list-item-content>
                  <v-list-item-title>
                    <a href="phDeGarde.html">les pharmacies de Garde </a>
                    <span>.</span><span>.</span><span>.</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title>
                    <a id="contact-page" href="contact.html">Contacts </a>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </v-navigation-drawer>
        <v-app-bar
          :clipped-left="$vuetify.breakpoint.lgAndUp"
          app
          color="#900c3e"
          dark
        >
          <v-icon @click.stop="drawer = !drawer">mdi-menu</v-icon>
          <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
            <span class="title">My PharmaLocation</span>
          </v-toolbar-title>
          <v-text-field
            append-icon="mdi-target"
            label="search"
            class="hidden-sm-and-down"
            flat
            solo-inverted
            hide-details
            v-model="q"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn icon large class="mr-1">
            <v-avatar size="40px" item>
              <v-img
                src="https://lh3.googleusercontent.com/a-/AAuE7mDUMdXGlpY25zgmRfzjrLpp_fzh5Oua02nbr3nM=s96-cc-rg"
                alt="Vuetify"
            /></v-avatar>
          </v-btn>
        </v-app-bar>
        <v-content>
          <div id="map"></div>
          <v-btn
            title="get the closest"
            bottom
            color="#ffcc00"
            dark
            fab
            fixed
            right
            @click="getClosest"
          >
            <v-icon>mdi-target</v-icon>
          </v-btn>
          <v-snackbar v-model="snackbar" >
            {{ text }}
            <v-btn color="#ffcc00" text @click="snackbar = false">
              Close
            </v-btn>
          </v-snackbar>

          <v-divider></v-divider>
          <v-footer padless>
            <v-col class="text-center" cols="12">
              All rights reserved © {{ new Date().getFullYear() }} —
              <strong>KmAmin</strong>
            </v-col>
          </v-footer>
        </v-content>
      </v-app>
    </div>

    <script src="./config/js/vuefire.js"></script>
    <script src="./config/js/firebase.js"></script>
    <script src="./config/js/axios.min.js"></script>
    <script src="./config/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEKqAbwXitNuWVIXaIJ60kd33svzZY4nE"
    ></script>
    <script src="js/multiMarker.js"></script>
  </body>
</html>
