<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/test.css" />
    <style>
      #map {
        height: 800px;
        width: 100%;
      }
    </style>
    <script src="./config/js/vuefire.js"></script>
    <script src="./config/js/firebase.js"></script>
    <script src="./config/js/axios.min.js"></script>
    <script src="./config/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  </head>
  <body>
    <div id="app" class="draw">
      <div class="cont" v-if="load">
        <div class="load-wrapp">
          <div class="load-3">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <v-app dark>
        <v-app-bar app color="#038AFF" dark>
          <div id="menu-bar">
            <div id="menu" onclick="onClickMenu()">
              <div id="bar1" class="bar"></div>
              <div id="bar2" class="bar"></div>
              <div id="bar3" class="bar"></div>
            </div>
            <ul class="nav" id="nav">
              <li><a href="index.html">map</a></li>
              <li><a href="phDeJour.html">Ph.jour</a></li>
              <li><a href="phDeNuit.html">Ph.nuit</a></li>
              <li><a href="phDeGarde.html">Ph.Garde</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="menu-bg" id="menu-bg"></div>

          <v-spacer></v-spacer>

          <img src="./img/pharma.png" class="image-title" />

          <v-spacer></v-spacer>
        </v-app-bar>
        <v-content>
          <v-container>
            <h1>Liste des pharmacies de jour</h1>
            <v-subheader>ce jour</v-subheader>

            <v-list three-line>
              <v-card class="mt-5" v-for="(time, index) in times">
                <v-list-item-content v-if="time.cat == 'jour'" py-2>
                  <v-row>
                    <v-col cols="12" md="6">
                      <v-card-actions>
                        nom de pharmacie : {{time.name}}
                      </v-card-actions>
                      <v-card-actions>
                        temps de travail : {{time.ouvre}} h - {{time.ferme}} h
                      </v-card-actions>
                      <v-card-actions>
                        N° telephone : {{time.tel}}
                      </v-card-actions>
                    </v-col>

                    <v-col cols="12" md="6">
                      <a href="afficheStock.html">
                        <v-btn
                          :try="id[index]"
                          class="stock-buton"
                          @click="getStock(id[index])"
                        >
                          show stock
                        </v-btn>
                      </a>
                    </v-col>
                  </v-row>
                </v-list-item-content>
              </v-card>
            </v-list>

            <v-divider></v-divider>
          </v-container>
        </v-content>
        <v-footer padless>
          <v-col class="text-center" cols="12">
            All rights reserved © {{ new Date().getFullYear() }} —
            <strong>KmAmin</strong>
          </v-col>
        </v-footer>
      </v-app>
    </div>
  </body>
  <script src="./js/phDeNuit.js"></script>
  <script type="text/javascript">
    function onClickMenu() {
      document.getElementById("menu").classList.toggle("change");
      document.getElementById("nav").classList.toggle("change");

      document.getElementById("menu-bg").classList.toggle("change-bg");
    }
  </script>
</html>
