.image-title {
  padding-top: 6px;
}
.load-wrapp {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 100px;

  border-radius: 5px;
}
.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ffffff;
}
@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}
.cont {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #38ca89;
  z-index: 9;
}
.declarebutton {
  position: absolute;
  top: 520px;
  left: 135px;
  color: #ffffff;
  margin-bottom: 5px;
}

main {
  text-align: center;
}
.liste-ph {
  margin-right: 0px;
  margin-left: 0px;
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.previous {
  padding-left: 30px;
  width: 68px;
  height: 32px;
  margin-top: 17px;
}
.button {
  width: 100%;
  margin-bottom: -23px;
  background-color: #38ca89 !important;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
