.garde {
  background-color: #f7d84dd8;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.garde span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.garde span:nth-child(2) {
  animation-delay: 0.2s;
}

.garde span:nth-child(3) {
  animation-delay: 0.4s;
}

.ouvertstyle span {
  color: #00ff00;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.image-title {
  padding-top: 6px;
}
.load-wrapp {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 100px;

  border-radius: 5px;
}
.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ffffff;
}
@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}
.cont {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #038aff;
  z-index: 9;
}
.declarebutton {
  position: absolute;
  top: 520px;
  left: 135px;
  color: #ffffff;
  margin-bottom: 5px;
}

main {
  text-align: center;
}
.liste-ph {
  margin-right: 0px;
  margin-left: 0px;
}
.stock-buton {
  background-color: #038aff !important;
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
